
@using SOFA.Models
@model Department

@{

}

<h1>@Model.DepartmentName</h1>

<div class="container-fluid">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Class Count</th>
            </tr>
        </thead>
        <tbody >
            @foreach(Course c in Model.Courses)
            {
                <tr>
                    <td>@c.CourseCode</td>
                    <td>@c.CourseName</td>
                    <td>@c.ClassBases.Count()</td>
                </tr>
            }   
        </tbody>
    </table>

    @if(Model.Courses.Count == 0)
    {
        <div class="jumbotron">
            <h2 class="text-center">@Model.DepartmentName Has No Courses!</h2>
            <p class="text-center"><button type="button" class="btn btn-success btn-lg">Add Course</button></p>
        </div>   
    }

</div>
