
@using SOFA.Models
@model Department

@{
    Layout = "~/Views/_DepartmentLayout.cshtml";
}

<h2>@Model.DepartmentName</h2>
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-wrench"></span>  <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            @Html.ActionLink("Edit Department", "CreateEdit", new { departmentId = Model.id })
            @Html.ActionLink("Delete Department", "Delete", new { departmentId = Model.id })
        </li>
    </ul>
</div>

<br/><br/>

<h3>Courses</h3>
<hr/>

<a class="btn btn-primary pull-right"
   href="@Url.Action("CreateEdit", "Course", new { departmentID = Model.id})">Add Course</a>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Class Count</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Course c in Model.Courses.Where(x => x.Deleted == false))
                {
                    <tr class="lasthidden" onclick="location.href='@Url.Action("Index", "Course", new { courseID = c.Id })'">
                        <td>@c.CourseCode</td>
                        <td>@c.CourseName</td>
                        <td>@c.ClassBases.Count()</td>
                        <td align="right">
                            @Html.ActionLink("Edit", "CreateEdit", "Course"
                                            ,new { departmentId = Model.id, courseId = c.Id}, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if (Model.Courses.Count == 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2 class="text-center">@Model.DepartmentName Has No Courses!</h2>
                <p class="text-center"><a href="@Url.Action("CreateEdit", "Course", new { departmentID = Model.id})" class="btn btn-primary btn-lg">Add Course</a></p>
            </div>
        </div>
    </div>
}
