@*
 *  School Of Future Applications
 *
 *  Copyright (C) 2014  Terminal Coding
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 *@

@model SOFA.Models.Timetable

@{
    ViewBag.HeadingTitle = "New Timetable";
    ViewBag.Title = "Create";
}

<script src="~/Scripts/moment.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

<div class="row">
    <ol class="breadcrumb">
        You are here:
        <li>@Html.ActionLink("Timetables", "Index")</li>
        <li class="active">@ViewBag.HeadingTitle</li>
    </ol>
</div>

<div class="row">
    <h2 class="col-sm-12">
        @ViewBag.HeadingTitle
    </h2>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        @Html.ValidationSummary(true)

        @using (Html.BeginForm("Create", "Timetable", FormMethod.Post
                              ,new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(model => model.TimetableCode, new { @class = "control-label col-sm-3" })
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.TimetableCode)
                    @Html.ValidationMessageFor(model => model.TimetableCode)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TimetableIdentifier, new { @class = "control-label col-sm-3" })
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.TimetableIdentifier)
                    @Html.ValidationMessageFor(model => model.TimetableIdentifier)
                </div>
            </div>
            
            <div class="form-group" id="activedatepicker">
                @Html.LabelFor(model => model.ActiveDate, new { @class = "control-label col-sm-3" })
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.ActiveDate)
                    @Html.ValidationMessageFor(model => model.ActiveDate)
                </div>
            </div>

            <div class="form-group" id="expirydatepicker">
                @Html.LabelFor(model => model.ExpiryDate, new { @class = "control-label col-sm-3" })
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.ExpiryDate)
                    @Html.ValidationMessageFor(model => model.ExpiryDate)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-md-6">
                    <input type="submit" value="Create Timetable" class="btn btn-success pull-right" />
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $('div.input-group.date').datetimepicker({
        format: "DD/MM/YYYY",
        pickTime: false
    });

    $("#activedatepicker > div > div.date").on("dp.change", function (e) {
        $('#expirydatepicker > div > div.date').data("DateTimePicker").setMinDate(e.date);
    });
    $("#expirydatepicker > div > div.date").on("dp.change", function (e) {
        $('#activedatepicker > div > div.date').data("DateTimePicker").setMaxDate(e.date);
    });

    $(document).ready(function () {
        $(function () {
            $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }
                var ok = true;
                try {
                    $.datepicker.parseDate('dd/mm/yy', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            })
        });
    });
</script>