@model SOFA.Models.Timetable

@{
    ViewBag.Title = "Create";

}
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }
                var ok = true;
                try {
                    $.datepicker.parseDate('dd/mm/yy', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            })
        });

        $(".datepicker").datepicker({
            dateFormat: "dd/mm/yy"
        });
    });
</script>







<div class="col-md-11 col-md-offset-1">

    <h2>New Timetable</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.TimetableCode, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TimetableCode)
                    @Html.ValidationMessageFor(model => model.TimetableCode)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TimetableIdentifier, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TimetableIdentifier)
                    @Html.ValidationMessageFor(model => model.TimetableIdentifier)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ActiveDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ActiveDate, new { @class = "datepicker" })
                    @Html.ValidationMessageFor(model => model.ActiveDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ExpiryDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ExpiryDate, new { @class = "datepicker" })
                    @Html.ValidationMessageFor(model => model.ExpiryDate)
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>
