@*
 *  School Of Future Applications
 *
 *  Copyright (C) 2014  Terminal Coding
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 *@

@model SOFA.Models.ViewModels.TimetableIndexViewModel

@{
    ViewBag.Title = "Timetables";
}

<div class="row">
    <ol class="breadcrumb">
        You are here:
        <li class="active">Timetables</li>
    </ol>
</div>

<div class="row">
    <h2 class="col-sm-6">
        Timetables
    </h2>
    <h2 class="col-sm-6">
        <a href="@Url.Action("Create")" class="btn btn-primary btn-labeled pull-right">
            <span class="btn-label icon glyphicon glyphicon-plus"></span>
            Add Timetable
        </a>
    </h2>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Current Timetables</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CurrentTimetables.FirstOrDefault().TimetableCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CurrentTimetables.FirstOrDefault().TimetableIdentifier)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CurrentTimetables.FirstOrDefault().ActiveDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CurrentTimetables.FirstOrDefault().ExpiryDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CurrentTimetables)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimetableCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimetableIdentifier)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActiveDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpiryDate)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Build", "Build", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Previous Timetables</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OldTimetables.FirstOrDefault().TimetableCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OldTimetables.FirstOrDefault().TimetableIdentifier)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OldTimetables.FirstOrDefault().ActiveDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OldTimetables.FirstOrDefault().ExpiryDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OldTimetables)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimetableCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimetableIdentifier)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActiveDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpiryDate)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Build", "Build", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>