@model IEnumerable<SOFA.Models.Timetable>

@{
    ViewBag.Title = "Index";
}

<h2>Timetable Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimetableCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimetableIdentifier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TimetableCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimetableIdentifier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveDate)
        </td>       
         <td>
            @Html.DisplayFor(modelItem => item.ExpiryDate)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Build", "Build", new { id=item.Id })
        </td>
    </tr>
}

</table>
