@*
    *  School Of Future Applications
    *
    *  Copyright (C) 2014  Terminal Coding
    *
    * This program is free software; you can redistribute it and/or
    * modify it under the terms of the GNU General Public License
    * as published by the Free Software Foundation; either version 2
    * of the License, or (at your option) any later version.
    *
    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    * GNU General Public License for more details.
    *
    * You should have received a copy of the GNU General Public License
    * along with this program; if not, write to the Free Software
    * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@using SOFA.Models
@using SOFA.Models.ViewModels.EnrolmentViewModels

@model CourseEnrolmentSectionViewModel

@Html.HiddenFor(m => m.SectionId)
@Html.HiddenFor(m => m.SectionName)
@Html.HiddenFor(m => m.DateCreated)
@Html.HiddenFor(m => m.OriginalSectionId)
@Html.HiddenFor(m => m.SectionNumber)
@Html.HiddenFor(m => m.TotalSections)

<div class="panel panel-primary">
    <div class="panel-heading">
        @Model.SectionName
        <span class="pull-right">
            @Model.SectionNumber/@Model.TotalSections
        </span>
    </div>

    <div class="panel-body">
        <div class="col-xs-10">
            @Html.DropDownListFor(m => m.SelectedDepartment, Model.DepartmentSelect, "Select a Department" , new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SelectedDepartment)
        </div>
        <div class="col-xs-10">
            @Html.DropDownListFor(m => m.SelectedCourse, Model.CourseSelect, "Select a Course", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SelectedCourse)
        </div>
        <div class="col-xs-10">
            @Html.DropDownListFor(m => m.SelectedYearLevel, Model.YearLevelSelect, "Select a Year Level", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SelectedYearLevel)
        </div>


     


    </div>
</div>