@*
    *  School Of Future Applications
    *
    *  Copyright (C) 2014  Terminal Coding
    *
    * This program is free software; you can redistribute it and/or
    * modify it under the terms of the GNU General Public License
    * as published by the Free Software Foundation; either version 2
    * of the License, or (at your option) any later version.
    *
    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    * GNU General Public License for more details.
    *
    * You should have received a copy of the GNU General Public License
    * along with this program; if not, write to the Free Software
    * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@using SOFA.Models.ViewModels.EnrolmentViewModels
@using SOFA.Models

@model EnrolmentFieldViewModel

<style>
    .label-align {
        text-align: right;
    }
</style>

<div class="form-group">
    @Html.HiddenFor(m => m.EnrolmentFieldId)
    @Html.HiddenFor(m => m.FieldType)
    @Html.HiddenFor(m => m.PromptValue)



    @switch(Model.FieldType)
    {
        
        case Field.TYPE_TEXT_SINGLE:
         
            @Html.LabelFor(model => model.Value, Model.PromptValue
                          ,new { @class = "control-label col-xs-2 label-align" })
            <div class="col-xs-10">
                
                @Html.EditorFor(model => model.Value, new { @class = "form-control" })
            </div>
            break;

        case Field.TYPE_TEXT_MULTI:

            @Html.LabelFor(model => model.Value, Model.PromptValue
                           ,new { @class = "control-label col-xs-2 label-align" })
            <div class="col-xs-10">
                @Html.TextAreaFor(model => model.Value, new { @class = "form-control" })
            </div>
            break;  
            
        case Field.TYPE_DATE:
            @Html.Partial("~/Views/Shared/EditorTemplates/EnrolmentFieldViewModelDate.cshtml", Model)
            break;
            
        case Field.TYPE_INFO:

            @Html.LabelFor(model => model.PromptValue, Model.PromptValue
                             ,new { @class = "col-xs-12 control-label" })    
            break;
            
        default:
            <div class="col-xs-12">
                Not Implemented
            </div>
            break;
    }
</div>