@*
    *  School Of Future Applications
    *
    *  Copyright (C) 2014  Terminal Coding
    *
    * This program is free software; you can redistribute it and/or
    * modify it under the terms of the GNU General Public License
    * as published by the Free Software Foundation; either version 2
    * of the License, or (at your option) any later version.
    *
    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    * GNU General Public License for more details.
    *
    * You should have received a copy of the GNU General Public License
    * along with this program; if not, write to the Free Software
    * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@using SOFA.Models

@model Student


<div class="form-group">
    @Html.LabelFor(m => m.GivenNames, new { @class = "control-label col-xs-2 label-align" })
    <div class="col-xs-10">
        @Html.EditorFor(m => m.GivenNames, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GivenNames)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.LastName, new { @class = "control-label col-xs-2 label-align" })
    <div class="col-xs-10">
        @Html.EditorFor(m => m.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Email, new { @class = "control-label col-xs-2 label-align" })
    <div class="col-xs-10">
        @Html.EditorFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label col-xs-2 label-align" })
    <div class="col-xs-10">
        @Html.EditorFor(m => m.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PhoneNumber)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.MobileNumber, new { @class = "control-label col-xs-2 label-align" })
    <div class="col-xs-10">
        @Html.EditorFor(m => m.MobileNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MobileNumber)
    </div>
</div>
