@* 
 *  School Of Future Applications
 *
 *  Copyright (C) 2014  Terminal Coding
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 *@

@using SOFA.Models.ViewModels
@model ClassBaseViewModel

@{
    ViewBag.Title = "Create Class Base";
    ViewBag.NewClassBase = Model.Id == 0;
    ViewBag.BreadCrumbTitle = (ViewBag.NewClassBase ? "New Class Base"
                                                    : Model.ClassBaseCode);
    ViewBag.HeadingTitle = (ViewBag.NewClassBase ? "New Class Base"
                                                 : "Edit - " + Model.ClassBaseCode);
    ViewBag.SubmitTxt = (ViewBag.NewClassBase ? "Add Class Base"
                                              : "Save Class Base");
}

<div class="page-header">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Departments", "index", "Department")</li>
        <li>
            @Html.ActionLink(Model.DepartmentName, "Department", "Department"
                            ,new { departmentId = Model.DepartmentId }, null)
        </li>
        <li>
            @Html.ActionLink(Model.CourseName, "Index", "Course"
                            ,new { courseId = Model.CourseID }, null)
        </li>
        <li class="active">@ViewBag.HeadingTitle</li>
    </ol>

    <h2>@ViewBag.HeadingTitle</h2>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        @Html.ValidationSummary()

        @using (Html.BeginForm("CreateEdit", "ClassBase", FormMethod.Post
                              ,new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.CourseID)

            <div class="form-group">
                 @Html.LabelFor(model => model.ClassBaseCode, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.ClassBaseCode)
                    @Html.ValidationMessageFor(model => model.ClassBaseCode)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.YearLevel, new { @class = "control-label col-sm-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.YearLevel)
                    @Html.ValidationMessageFor(model => model.YearLevel)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <input type="submit" value="@ViewBag.SubmitTxt" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>