@using SOFA.Models
@model ClassBase

@{
    ViewBag.Title = "Create Class Base";
}

<div class="col-md-11 col-md-offset-1">

    <h2>@Html.ActionLink(Model.Course.Department.DepartmentName, "Department"
                        ,"Department", new { departmentId = Model.Course.Department.id }, null) > 
         @Html.ActionLink(Model.Course.CourseName, "Index", "Course"
                         ,new { courseId = Model.Course.Id }, null) >
         New Class Base</h2>
    <hr />

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            @Html.ValidationSummary()

            @using (Html.BeginForm("Create", "ClassBase", FormMethod.Post
                                  ,new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Course)

                <div class="form-group">
                    @Html.LabelFor(model => model.ClassBaseCode, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.ClassBaseCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClassBaseCode)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.YearLevel, new { @class = "control-label col-sm-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.YearLevel, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.YearLevel)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="alert-warning">
        @ViewBag.ErrorMessage
    </div>
</div>