@*
    *  School Of Future Applications
    *
    *  Copyright (C) 2014  Terminal Coding
    *
    * This program is free software; you can redistribute it and/or
    * modify it under the terms of the GNU General Public License
    * as published by the Free Software Foundation; either version 2
    * of the License, or (at your option) any later version.
    *
    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    * GNU General Public License for more details.
    *
    * You should have received a copy of the GNU General Public License
    * along with this program; if not, write to the Free Software
    * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@using SOFA.Models
@model ClassBase

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/Content/class-capacity.css" />

<style>
    .almost-full {
        background-color: red;
    }
</style>

<div class="row">
    <ol class="breadcrumb">
        You are here:
        <li>@Html.ActionLink("Departments", "index", "Department")</li>
    </ol>
</div>

<div class="row">
    <h2 class="col-sm-6">
        @Model.ClassBaseCode
    </h2>
</div>

<div class="row">
    <div class=" col-sm-12">
        <table class="info-grid">
            <tr>
                <td align="right"><strong>Class Base Code:</strong></td>
                <td>@Model.ClassBaseCode</td>
            </tr>
            <tr>
                <td align="right"><strong>Class Base Year level:</strong></td>
                <td>@Model.YearLevel</td>
            </tr>
            <tr>
                <td align="right"><strong>Timetabled Classes:</strong></td>
                <td>@Model.TimetabledClasses.Count</td>
            </tr>
        </table>
    </div>
</div>

<div class="row col-sm-12" style="margin-top: 20px">
    <ul class="nav nav-pills" role="tablist">
        <li class="active">
            <a href="#classList" role="tab" data-toggle="tab">Classes</a>
        </li>
        <li>
            <a href="#prereqs" role="tab" data-toggle="tab">Pre-requisites</a>
        </li>
    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane fade in active" id="classList">
        <div class="row">
            <h3 class="col-sm-6">Timetabled Classes</h3>
            <div class="col-sm-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Display Name</th>
                            <th>Line</th>
                            <th>Capacity</th>
                            <th>Enrolled</th>
                            <th>Filled %</th>
                            <th>Teacher</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (TimetabledClass tc in Model.TimetabledClasses)
                        {
                            string rowClass = "";
                            if (tc.isFull())
                            {
                                rowClass = "";
                            }
                            else if (tc.isAlmostFull())
                            {
                                rowClass = "";
                            }
                            <tr onclick="location.href='@Url.Action("TimetabledClass", "TimetabledClass"
                                                           ,new { timetabledClassId = tc.Id })'"
                                class="@rowClass">
                                <td>@tc.Id</td>
                                <td>@tc.DisplayName</td>
                                <td>@tc.Line.Id - @tc.Line.Label</td>
                                <td>@tc.Capacity</td>
                                <td>@tc.validEnrolmentCount()</td>
                                <td>@Math.Round(tc.fillPercantage(), 2)%</td>
                                @if (tc.Teacher != null)
                                {
                                    <td>@tc.Teacher.FullName()</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div> 

    @* Prerequisites tab *@
    <div class="tab-pane fade in" id="prereqs" >
        @Html.Partial("Prerequisites")
    </div>

</div>
@Html.Partial("DeleteConfirmationModal")

