@using SOFA.Models.ViewModels.FormViewModels
@model SOFA.Models.ViewModels.FormViewModels.FormViewModel

@{
    ViewBag.Title = "Edit Form";
}

    <script>
        $(document).ready(function () {
            var prev_sect_update = new Array();
            var $accordion = $("#accordion").accordion(
                {
                    header: "> div > h3",
                    heightStyle: "content"
                }).
                sortable({
                    axis: "y",
                    handle: "h3",
                    stop: function (event, ui) {
                        // IE doesn't register the blur when sorting
                        // so trigger focusout handlers to remove .ui-state-focus
                        ui.item.children("h3").triggerHandler("focusout");
                        var sections = $(".sectionId").toArray();
                        var $section_ids = new Array();
                        $.each(sections, function (i) {
                            $section_ids.push($(this).val());
                        });
                        // Refresh accordion to handle new order
                        $accordion.accordion("refresh");
                        //check if needs to be updated
                        var equal = true;
                        $.each($section_ids, function (i) {
                            if (!(this == prev_sect_update[i])) {
                                equal = false;
                                return false;
                            }
                        });
                        if (!equal) {
                            var $formID = $("#Id").val();
                            $.ajax({
                                type: "POST",
                                url: "UpdateSectionOrder",
                                dataType: "json",
                                traditional: true,
                                data: {
                                    FormID: $formID,
                                    SectionIDs: $section_ids
                                },
                                success: function (data, status, jqXHR) {
                                    console.log(data);
                                }
                            });
                        }
                        prev_sect_update = $section_ids;


                    }
                })


        });

    </script>
    <link href="~/Content/FormEdit.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />

    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>



<h2 class="r">Edit Form</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
        
    <div class="form-horizontal">
        <h4>@Html.DisplayFor(m => m.FormName)</h4>
        <hr />
        @Html.ActionLink("Add Section", "IndexPartial", "Section", new { }, new { @class = "add-section-link pull-right" })


        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.HiddenFor(m => m.Id)
        </div>

        

    </div>
    <div class="alert-danger"></div>
    <div id="accordion" >
        @if (Model.FormSections != null)
        { 
            @Html.DisplayFor(m => m.FormSections)
        }
        
    </div>
}
@Html.Partial("AddSectionToFormModal")
@Html.Partial("DeleteConfirmationModal")

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
