@*
    *  School Of Future Applications
    *
    *  Copyright (C) 2014  Terminal Coding
    *
    * This program is free software; you can redistribute it and/or
    * modify it under the terms of the GNU General Public License
    * as published by the Free Software Foundation; either version 2
    * of the License, or (at your option) any later version.
    *
    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    * GNU General Public License for more details.
    *
    * You should have received a copy of the GNU General Public License
    * along with this program; if not, write to the Free Software
    * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@using SOFA.Models
@using SOFA.Models.ViewModels
@using SOFA.Models.Prefab

@model EnrolmentFormViewModel

@{
    var headingColor = "";
    var headingText = "";
    switch (Model.EnrolmentForm.Status)
    {
        case EnrolmentForm.EnrolmentStatus.Approved:
            headingColor = "#8fc344";
            headingText = "APPROVED";
            break;
            
        case EnrolmentForm.EnrolmentStatus.Completed:
            headingColor = "#8eb5c4";
            headingText = "COMPLETED";
            break;
            
        case EnrolmentForm.EnrolmentStatus.Disapproved:
            headingColor = "#b9554a";
            headingText = "DISAPPROVED";
            break;
            
        case EnrolmentForm.EnrolmentStatus.Pending:
            headingColor = "#dcb046";
            headingText = "PENDING";
            break;
            
        default:
            break;
    }
}

<style>
    .status-font {
        color: #958888;
        font-size: x-large;
    }
</style>

<div class="row">
    <div class="col-sm-12" style="background-color: @headingColor;">
        <span class="status-font">
            @headingText
        </span>
    </div>
</div>

<div class="row">
    <h2 class="col-sm-6">
        Enrolment Form For @Model.EnrolmentForm.Student.FullName()
    </h2>
</div>

<div class="row">
    <div class="col-sm-4">
        @Html.DisplayFor(model => model.EnrolmentForm)
    </div>
    <div class="col-sm-4">
        @Html.DisplayFor(model => model.EnrolmentForm.Class)
    </div>
    <div class="col-sm-4">
        @Html.DisplayFor(model => model.EnrolmentForm.Student)
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
       <div class="" role="toolbar">
           <div class="btn-group">
               <button  type="button" class="btn btn-info">Print</button>
               
               @using (@Html.BeginForm("EnrolmentFormDelete", "Enrolment", FormMethod.Post, new { @style = "display:inline!important" }))
               {
                   <input style="margin-left: 5px"class=" btn btn-danger" type="submit" value="Delete" />
                   <input type="hidden" name="EnrolmentFormId" value="@Model.EnrolmentForm.EnrolmentFormId" />
                   @Html.HiddenFor(m => m.DeleteAction)
                   @Html.HiddenFor(m => m.DeleteController)
                   @Html.HiddenFor(m => m.DeleteArgs)
                   foreach (var k in Model.DeleteArgs.Keys)
                   {                       
                       @Html.HiddenFor(m => m.DeleteArgs[k])
                   }

               }
               

               
           </div>
           <div class="btn-group">
               @using (@Html.BeginForm("EnrolmentFormApprove", "Enrolment", FormMethod.Post, new { @style = "display:inline!important" }))
               {
                   <input style="margin-left: 5px" class=" btn btn-success" type="submit" value="Approve" />
                   <input type="hidden" name="EnrolmentFormId" value="@Model.EnrolmentForm.EnrolmentFormId" />
                   @Html.HiddenFor(m => m.ApproveAction)
                   @Html.HiddenFor(m => m.ApproveController)
                   
                   foreach (var k in Model.ApproveArgs.Keys)
                   {
                       @Html.HiddenFor(m => m.ApproveArgs[k])
                   }

               }
                
               <button type="button" class="btn btn-danger">Disapprove</button>
           </div>
       </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-3 col-sm-6">

        @foreach(EnrolmentFormSection efs in Model.EnrolmentForm.EnrolmentFormSections)
        {
            if(efs.EnrolmentSection.OriginalSectionId != PrefabSection.COURSE_SELECT &&
                efs.EnrolmentSection.OriginalSectionId != PrefabSection.STUDENT_DETAILS)
            {
                @Html.DisplayFor(model => efs.EnrolmentSection)  
            }
        }

    </div>
</div>
