@*
    *  School Of Future Applications
    *
    *  Copyright (C) 2014  Terminal Coding
    *
    * This program is free software; you can redistribute it and/or
    * modify it under the terms of the GNU General Public License
    * as published by the Free Software Foundation; either version 2
    * of the License, or (at your option) any later version.
    *
    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    * GNU General Public License for more details.
    *
    * You should have received a copy of the GNU General Public License
    * along with this program; if not, write to the Free Software
    * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@
@model SOFA.Models.FormSection
          
<div class="">
    @Html.HiddenFor(m => m.SectionId)
    
    <h3>@Html.DisplayFor(m => m.Section.Name)</h3>
    <div>
        <div class="btn-group pull-right">

        @Html.ActionLink("Edit", "Edit", "Section", null,
                                                new { @class = "btn btn-default" })
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                @Ajax.ActionLink("Remove", "RemoveSection", new { FormId = Model.SectionId, SectionId = Model.SectionId}, null)
            </li>
        </ul>
        </div>
        <div>
            @Html.DisplayFor(m => m.Section)
        </div>
    </div>

</div>