@using SOFA.Models.ViewModels
@model CourseCreateViewModel

@{
    ViewBag.Title = "Create";
    ViewBag.NewCourse = Model.ID == 0;
    ViewBag.HeadingTitle = (ViewBag.NewCourse ? "New Course"
                                              : "Edit - " + Model.CourseName);
    ViewBag.SubmitTxt = (ViewBag.NewCourse ? "Add Course"
                                           : "Save Course");
}

<div class="col-md-11 col-md-offset-1">

    <h2>@Html.ActionLink(Model.DepartmentName, "Department", "Department"
                        ,new { departmentId = Model.DepartmentId }, null)
        <span class="glyphicon glyphicon-chevron-right"></span>
        @ViewBag.HeadingTitle</h2>
    <hr />

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            @Html.ValidationSummary()

            @using (Html.BeginForm("CreateEdit", "Course", FormMethod.Post
                          , new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.DepartmentId)

                <div class="form-group">
                    @Html.LabelFor(model => model.CourseName
                                  ,new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.CourseName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CourseName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CourseCode
                                  ,new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.CourseCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CourseCode)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <input type="submit" value="@ViewBag.SubmitTxt" class="btn btn-default" />
                    </div>
                </div>

            }

        </div>
    </div>
</div>