@*
    *  School Of Future Applications
    *
    *  Copyright (C) 2014  Terminal Coding
    *
    * This program is free software; you can redistribute it and/or
    * modify it under the terms of the GNU General Public License
    * as published by the Free Software Foundation; either version 2
    * of the License, or (at your option) any later version.
    *
    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    * GNU General Public License for more details.
    *
    * You should have received a copy of the GNU General Public License
    * along with this program; if not, write to the Free Software
    * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@using SOFA.Models.ViewModels
@model CourseCreateViewModel

@{
    ViewBag.Title = "Create";
    ViewBag.NewCourse = Model.ID == 0;
    ViewBag.HeadingTitle = (ViewBag.NewCourse ? "New Course"
                                              : "Edit - " + Model.CourseName);
    ViewBag.SubmitTxt = (ViewBag.NewCourse ? "Add Course"
                                           : "Save Course");
}

<div class="page-header">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Departments", "index")</li>
        <li>
            @Html.ActionLink(Model.DepartmentName, "Department", "Department"
                            ,new { departmentId = Model.DepartmentId }, null)
        </li>
        @if(!ViewBag.NewCourse)
        {
            <li>
                @Html.ActionLink(Model.CourseName, "index", new { courseId = Model.ID})
            </li>
        }
        <li class="active">@ViewBag.HeadingTitle</li>
    </ol>

    <h2>@ViewBag.HeadingTitle</h2>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">

        @Html.ValidationSummary()

        @using (Html.BeginForm("CreateEdit", "Course", FormMethod.Post
                              ,new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.DepartmentId)

            <div class="form-group">
                @Html.LabelFor(model => model.CourseName
                              ,new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.CourseName)
                    @Html.ValidationMessageFor(model => model.CourseName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CourseCode
                                  , new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.CourseCode)
                    @Html.ValidationMessageFor(model => model.CourseCode)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <input type="submit" value="@ViewBag.SubmitTxt" class="btn btn-default" />
                </div>
            </div>

        }

    </div>
</div>