
@using SOFA.Models
@model Course

@{
    ViewBag.Title = "Index";
}

<div class="col-md-11 col-md-offset-1">

    <h2>
        @Html.ActionLink(Model.Department.DepartmentName, "Department"
                        ,"Department", new { departmentId = Model.Department.id }, null) 
        <span class="glyphicon glyphicon-chevron-right"></span>
        @Model.CourseName
    </h2>

    <p></p>
    <b>Course Code:</b> @Model.CourseCode
    </p>
    <br /><br />

    <h3>Class Bases</h3>
    <hr />

    @Html.ActionLink("Add Class Base", "Create", "ClassBase"
                    ,new { id = ViewBag.CourseID }
                    ,new { @class = "btn btn-primary pull-right" })


    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Class Base Code</th>
                        <th>Year Level</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ClassBase cb in Model.ClassBases)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => cb.ClassBaseCode)</td>
                            <td>@Html.DisplayFor(modelItem => cb.YearLevel)</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = cb.Id }) |
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @if(Model.ClassBases.Count == 0)
    {
        <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2 class="text-center">@Model.CourseName Has No Class Bases!</h2>
                <p class="text-center"><a href="@Url.Action("Create", "ClassBase", new { courseId = Model.Id})" class="btn btn-primary btn-lg">Add Class Base</a></p>
            </div>
        </div>
    </div>   
    }
</div>