
@using SOFA.Models
@model Course

@{
    ViewBag.Title = "Index";
}

<div class="col-md-11 col-md-offset-1">

    <h2>
        @Html.ActionLink(Model.Department.DepartmentName, "Department"
                        , "Department", new { departmentId = Model.Department.id }, null)
        <span class="glyphicon glyphicon-chevron-right"></span>
        @Model.CourseName


        <span class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-wrench"></span>  <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    @Html.ActionLink("Edit Course", "CreateEdit", new
           {
               departmentId = Model.Department.id
            ,
               courseId = Model.Id
           })
                    @Html.ActionLink("Delete Course", "#")
                </li>
            </ul>
        </span>
    </h2>

    <p></p>
    <b>Course Code:</b> @Model.CourseCode
    </p>
    <br /><br />

    <h3>Class Bases</h3>
    <hr />

    @Html.ActionLink("Add Class Base", "CreateEdit", "ClassBase"
                    ,new { courseId = Model.Id }
                    ,new { @class = "btn btn-primary pull-right" })


    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Class Base Code</th>
                        <th>Year Level</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ClassBase cb in Model.ClassBases)
                    {
                        <tr class="lasthidden">
                            <td>@Html.DisplayFor(model => cb.ClassBaseCode)</td>
                            <td>@Html.DisplayFor(modelItem => cb.YearLevel)</td>
                            <td align="right">
                                @Html.ActionLink("Edit", "CreateEdit", "ClassBase"
                                                ,new { courseId = cb.Course.Id, classBaseId = cb.Id }
                                                ,null)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @if(Model.ClassBases.Count == 0)
    {
        <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2 class="text-center">@Model.CourseName Has No Class Bases!</h2>
                <p class="text-center"><a href="@Url.Action("CreateEdit", "ClassBase", new { courseId = Model.Id})" class="btn btn-primary btn-lg">Add Class Base</a></p>
            </div>
        </div>
    </div>   
    }
</div>