@*
    *  School Of Future Applications
    *
    *  Copyright (C) 2014  Terminal Coding
    *
    * This program is free software; you can redistribute it and/or
    * modify it under the terms of the GNU General Public License
    * as published by the Free Software Foundation; either version 2
    * of the License, or (at your option) any later version.
    *
    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    * GNU General Public License for more details.
    *
    * You should have received a copy of the GNU General Public License
    * along with this program; if not, write to the Free Software
    * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@using SOFA.Models.ViewModels

@model UserRoleEditViewModel

@{
}

@using (Html.BeginForm("UserRoleEdit", "UserAdmin", FormMethod.Post
                      ,new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.UserId)
    
    <div class="form-group">
        @Html.LabelFor(model => model.CurrentRole, new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.CurrentRole)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.AvailableRoles, "New Role"
                      ,new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.DropDownListFor(model => model.SelectedRoleId
                                 ,new SelectList(Model.AvailableRoles, "Id"
                                                ,"Name", Model.CurrentRoleId))
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <button type="submit" class="btn btn-default">Save New Role</button>
        </div> 
    </div>
}