@*
    *  School Of Future Applications
    *
    *  Copyright (C) 2014  Terminal Coding
    *
    * This program is free software; you can redistribute it and/or
    * modify it under the terms of the GNU General Public License
    * as published by the Free Software Foundation; either version 2
    * of the License, or (at your option) any later version.
    *
    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    * GNU General Public License for more details.
    *
    * You should have received a copy of the GNU General Public License
    * along with this program; if not, write to the Free Software
    * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@using SOFA.Models.ViewModels

@model UserPasswordResetViewModel

@{
    ViewBag.Title = "UserPasswordReset";
}

<div class="page-header">
    <h2>Reset Password</h2>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        @Html.ValidationSummary()

        @using (Html.BeginForm("UserPasswordReset", "UserAdmin", FormMethod.Post
                               ,new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Token)
            @Html.HiddenFor(model => model.UserName)
            
            <div class="form-group">
                @Html.LabelFor(model => model.OldPassword, "Old Password"
                              ,new { @class = "control-label col-sm-3"})
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.OldPassword)
                    @Html.ValidationMessageFor(model => model.OldPassword)
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.NewPassword, "New Password"
                              ,new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.NewPassword)
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmNewPassword, "Confirm Password"
                              ,new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.ConfirmNewPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                </div>
            </div>
            
            <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <input type="submit" class="btn btn-default" value="Reset Password" />
                    </div>
            </div>
        }
    </div>
</div>