@*
    *  School Of Future Applications
    *
    *  Copyright (C) 2014  Terminal Coding
    *
    * This program is free software; you can redistribute it and/or
    * modify it under the terms of the GNU General Public License
    * as published by the Free Software Foundation; either version 2
    * of the License, or (at your option) any later version.
    *
    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    * GNU General Public License for more details.
    *
    * You should have received a copy of the GNU General Public License
    * along with this program; if not, write to the Free Software
    * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@using SOFA.Models.ViewModels

@model StudentMoveViewModel

<div class="modal-header">
    <h4 class="modal-title">Move Students</h4>
</div>

@using (@Html.BeginForm("StudentMove", "TimetabledClass", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="modal-body">
        @Html.HiddenFor(m => m.CurrentTimetabledClassId)
        @for (int i = 0; i < Model.EnrolmentFormIds.Count; i++)
        {
            @Html.HiddenFor(m => Model.EnrolmentFormIds[i])
        }
        @Html.LabelFor(m => m.NewTimetabledClassId, "Class")
        <div class="form-group">

            <div class="col-md-12 text-center ">
                @Html.DropDownListFor(m => m.NewTimetabledClassId, Model.TimetabledClasses, "Move to Class...", new { @class = "form-control " })
            </div>
        </div>
    
    </div>


    <div class="modal-footer">
        <input type="submit" class="btn btn-success" value="Move" />
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div> 
}
<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse($(this));
    });
</script>
