@*
    *  School Of Future Applications
    *
    *  Copyright (C) 2014  Terminal Coding
    *
    * This program is free software; you can redistribute it and/or
    * modify it under the terms of the GNU General Public License
    * as published by the Free Software Foundation; either version 2
    * of the License, or (at your option) any later version.
    *
    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    * GNU General Public License for more details.
    *
    * You should have received a copy of the GNU General Public License
    * along with this program; if not, write to the Free Software
    * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@using System.Collections.Generic
@using SOFA.Models
@using SOFA.Models.ViewModels

@model SectionEditViewModel

@{
    ViewBag.Title = "Edit";
}

<script typeof="text/javascript">
    $(document).ready(function () {
        $(".editPrompt").on("click", function () {
            $(this).parent().parent().parent().addClass("givingPrompt");
            $("#promptmodal").modal("show");
        });
        $(".editOptions").on("click", function () {
            var post = $(this).data("id");
            $.ajax({
                type: "POST",
                url: "/Section/GetFieldOptionsForId",
                data: {"id": post},
                dataType: "html",
                traditional: true,
                success: function (data) {
                    alert(data);
                    $("#optioncontent").html(data);
                },
                error: function (request, status, error) {
                    alert(error);
                }
            }).done(function (msg) {
                //alert(msg);
                //$(this).find(".optioncontent").html(msg);

            });
            $(this).find(".optioncontent").html();
            $(this).parent().parent().parent().addClass("givingOptions");
            $("#optionmodal").modal("show");
        });
        $(".delement").draggable({
            helper: "clone",
            connectToSortable: ".panel-body",
            stop: function (event, ui) {
                //alert("test")
            }
        });
        $("#designer").disableSelection();
        $("#sortablebodymain").sortable({
            beforeStop: function (event, ui) {
                if (ui.item.attr("id") == undefined)
                {
                    ui.item.addClass("panel panel-primary").removeClass("ui-widget-content");
                    ui.item.addClass("givingPrompt").removeClass("ui-draggable");
                    ui.item.data("type", ui.item.find(".elType").html());
                    //ui.item.append(ui.item.data("type"));
                    ui.item.html("");
                    ui.item.append("<div class='panel-heading' style='cursor: pointer;'><center>" + ui.item.data("type") + "</center></div>");
                    ui.item.append("<div class='panel-body'></div>");
                    ui.item.append("<hr>")
                    ui.item.append("<div class='panel-body'><span style='float:left;width:10%'>Prompt:</span><span id='promptValue'></span>\
                                    <span style='float:right;width:10%'><span class='editPrompt'><a href='#'>Edit Prompt</a></span></span></div>");
                    $(".editPrompt").on("click", function () {
                        $(this).parent().parent().parent().addClass("givingPrompt");
                        $("#promptmodal").modal("show");
                    });
                    $("#promptmodal").modal("show");
                }

            },
            stop: function (event, ui) {
                if (ui.item.hasClass("sdelement")) {
                    var sfos = [];
                    $(".sdelement").each(function () {
                        var sfo = $(this).attr("id");
                        sfos.push(sfo);
                    });
                    var post = { FieldIds: sfos };
                    $.ajax({
                        type: "POST",
                        url: "/Section/SetSectionFieldOrder",
                        data: post,
                        dataType: "json",
                        traditional: true,
                    }).done(function (msg) {
                        //alert("set");

                    });
                }
            }
        });
        $("#saveprompt").on("click", function (event) {
            $(".givingPrompt").data("prompt", $("#prompt").val());
            //$(".givingPrompt").html($(".givingPrompt").data("prompt") + "<br />" + $(".givingPrompt").data("type"))
            $(".givingPrompt").find("#promptValue").html($(".givingPrompt").data("prompt"));
            if (!$(".givingPrompt").hasClass("sdelement")) {
                $.ajax({
                    type: "POST",
                    url: "/Section/AddField",
                    data: {
                        "sectionId": '@Model.Section.Id',
                    "type": $(".givingPrompt").data("type"),
                    "prompt": $("#prompt").val()
                },
            }).done(function (msg) {
                $(".givingPrompt").removeClass("givingPrompt").attr("id", msg).removeClass("delement").addClass("sdelement");
                var sfos = [];
                $(".sdelement").each(function () {
                    var sfo = $(this).attr("id");
                    sfos.push(sfo);
                });
                var post = { FieldIds: sfos };
                $.ajax({
                    type: "POST",
                    url: "/Section/SetSectionFieldOrder",
                    data: post,
                    dataType: "json",
                    traditional: true,
                }).done(function (msg) {
                    //alert("set");

                });
            });
            }
            else
            {
                $.ajax({
                    type: "POST",
                    url: "/Section/EditFieldPrompt",
                    data: {
                        "fieldId": $(".givingPrompt").attr("id"),
                        "prompt": $("#prompt").val()
                    },
                }).done(function (msg) {
                    $(".givingPrompt").removeClass("givingPrompt");
                });
            }
            $("#prompt").val("");
            $("#promptmodal").modal("hide");
        });

    });
</script>

<div class="page-header">
    <ol class="breadcrumb">
        <li class="active">Sections</li>
        <li class="active">Edit</li>
    </ol>
    <h2>Edit Section</h2>
   
</div>
<div class="panel panel-primary" style="float:left;width:80%">
    <div class="panel-heading">@Model.Section.Name</div>
    <div id="sortablebodymain" class="panel-body">
        @foreach (Field f in Model.OrderedFields)
{
    <div class="sdelement panel panel-primary" id=@f.Id>
        <div class="panel-heading" style="cursor:pointer"><center>@f.FieldType</center></div>
        <div class="panel-body">
            <center><span class="editOptions"><a href="#">Edit Options</a></span></center>
            @foreach(FieldOption fo in @f.FieldOptions)
            {
                <span style="float:left;width:10%">@fo.OptionType</span>
                <span style="float:right;width:10%">@fo.OptionValue</span>
            }
        </div>
        <hr />
        <div class="panel-body">
            <span style="float:left;width:10%">Prompt:</span><span id="promptValue">@f.PromptValue</span>
            <span style="float:right;width:10%"><span class="editPrompt"><a href="#">Edit Prompt</a></span></span>
            <script typeof="text/javascript">
                $('#@f.Id').data("prompt", "@f.PromptValue");
                $('#@f.Id').data("type", "@f.FieldType");
            </script>
        </div>
    </div>
}
    </div>
</div>
<style>
    .delement {
        border: 1px solid #428bca /*{borderColorContent}*/;
        background: #ffffff /*{bgColorContent}*/ url(images/ui-bg_flat_75_ffffff_40x100.png) /*{bgImgUrlContent}*/ 50% /*{bgContentXPos}*/ 50% /*{bgContentYPos}*/ repeat-x /*{bgContentRepeat}*/;
        color: #222222 /*{fcContent}*/;
        padding: 5px;
        margin-bottom: -1px;
        cursor: pointer;
    }
    .delement img {
        height: 16px;
        width: 16px;
    }
</style>
<div id="designer" style="float:right;width:18%;text-align:left">
    <div class="delement" id="TEXT_MULTI"><img src="~/Content/images/text.png" /> Multi Line Text<span class="elType" style="display:none">TEXT_MULTI</span></div>
    <div class="delement" id="TEXT_SINGLE"><img src="~/Content/images/text.png" /> Single Text<span class="elType" style="display:none">TEXT_SINGLE</span></div>
    <div class="delement" id="FILE"><img src="~/Content/images/file.png" /> File<span class="elType" style="display:none">FILE</span></div>
    <div class="delement" id="DATE"><img src="~/Content/images/date.png" /> Date<span class="elType" style="display:none">DATE</span></div>
    <div class="delement" id="DROPDOWN"><img src="~/Content/images/dropdown.png" /> Dropdown<span class="elType" style="display:none">DROPDOWN</span></div>
    <div class="delement" id="INFORMATION"><img src="~/Content/images/info.png" /> Information<span class="elType" style="display:none">INFORMATION</span></div>
</div>
<div id="promptmodal" class="modal-dialog" style="display:none;z-index:1050">
    <div class="modal-content" style="position:fixed">
        <div class="modal-body">
            Prompt:@Html.Editor("prompt")
            <div style="text-align:right">
                <button id="saveprompt" type="button" class="btn btn-primary" style="margin-top:5px">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div id="optionmodal" class="modal-dialog" style="display:none;z-index:1050">
    <div class="modal-content" style="position:fixed">
        <div class="modal-body">
            <div id="optioncontent">

            </div>
            <div style="text-align:right">
                <button id="saveoptionprompt" type="button" class="btn btn-primary" style="margin-top:5px">Save changes</button>
            </div>
        </div>
    </div>
</div>
