@*
    *  School Of Future Applications
    *
    *  Copyright (C) 2014  Terminal Coding
    *
    * This program is free software; you can redistribute it and/or
    * modify it under the terms of the GNU General Public License
    * as published by the Free Software Foundation; either version 2
    * of the License, or (at your option) any later version.
    *
    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    * GNU General Public License for more details.
    *
    * You should have received a copy of the GNU General Public License
    * along with this program; if not, write to the Free Software
    * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@using System.Collections.Generic
@using SOFA.Models
@using SOFA.Models.ViewModels

@model SectionEditViewModel

@{
    ViewBag.Title = "Edit";
}

<script typeof="text/javascript">
    function ValidationData(id, data) {
        this.id = id;
        this.data = data;
        return this;
    }

    $(document).ready(function () {
        $(".editPrompt").on("click", function () {
            $(this).parent().parent().parent().addClass("givingPrompt");
            $("#promptmodal").modal("show");
        });
        $(".editOptions").on("click", function () {
            var post = $(this).parent().parent().parent().attr("id");
            $.ajax({
                type: "POST",
                url: "/Section/GetFieldOptionsForId",
                data: { "id": post },
                dataType: "html",
                traditional: true,
                success: function (data) {
                    //alert(data);
                    $("#optioncontent").html(data);
                },
                error: function (request, status, error) {
                    alert(error);
                }
            }).done(function (msg) {
                //alert(msg);
                //$(this).find(".optioncontent").html(msg);

            });
            $(this).find(".optioncontent").html();
            $(this).parent().parent().parent().addClass("givingOptions");
            $("#optionmodal").modal("show");
        });
        $(".delement").draggable({
            helper: "clone",
            connectToSortable: ".panel-body",
            stop: function (event, ui) {
                //alert("test")
            }
        });
        $("#designer").disableSelection();
        $("#sortablebodymain").sortable({
            beforeStop: function (event, ui) {
                if (ui.item.attr("id") == undefined) {
                    ui.item.addClass("panel panel-primary").removeClass("ui-widget-content");
                    ui.item.addClass("givingPrompt").removeClass("ui-draggable");
                    ui.item.data("type", ui.item.find(".elType").html());
                    //ui.item.append(ui.item.data("type"));
                    ui.item.html("");
                    //ui.item.append("<div class='panel-heading' style='cursor: pointer;'><center>" + ui.item.data("type") + "</center>Test</div>");
                    ui.item.append("<div class='panel-heading' style='cursor: pointer; display: inline-block; width: 100%; text-align: center;'><div style='width:50px;display:block;float:left'>&nbsp;</div><div style='display:inline'>"+ui.item.data("type")+"</div><div class='btn btn-danger btn-block'  style='padding: 1px 0px; width: 50px; display: inline-block; float: right'><span class='dbutton' id='dbutton'>Delete</span></div></div>")
                    ui.item.append("<div class='panel-body'><center><span class='editOptions'><a href='#'>Edit Options</a></span></center><div id='fieldOptions'></div>");
                    ui.item.append("<hr>")
                    ui.item.append("<div class='panel-body'><span style='float:left;width:10%'>Prompt:</span><span id='promptValue'></span>\
                                    <span style='float:right;width:10%'><span class='editPrompt'><a href='#'>Edit Prompt</a></span></span></div>");
                    $(".editPrompt").on("click", function () {
                        $(this).parent().parent().parent().addClass("givingPrompt");
                        $("#promptmodal").modal("show");
                    });
                    $(".editOptions").on("click", function () {
                        var post = $(this).parent().parent().parent().attr("id");
                        $.ajax({
                            type: "POST",
                            url: "/Section/GetFieldOptionsForId",
                            data: { "id": post },
                            dataType: "html",
                            traditional: true,
                            success: function (data) {
                                //alert(data);
                                $("#optioncontent").html(data);
                            },
                            error: function (request, status, error) {
                                alert(error);
                            }
                        }).done(function (msg) {
                            //alert(msg);
                            //$(this).find(".optioncontent").html(msg);

                        });
                        $(this).find(".optioncontent").html();
                        $(this).parent().parent().parent().addClass("givingOptions");
                        $("#optionmodal").modal("show");
                    });
                    $("#promptmodal").modal("show");
                }

            },
            stop: function (event, ui) {
                if (ui.item.hasClass("sdelement")) {
                    var sfos = [];
                    $(".sdelement").each(function () {
                        var sfo = $(this).attr("id");
                        sfos.push(sfo);
                    });
                    var post = { FieldIds: sfos };
                    $.ajax({
                        type: "POST",
                        url: "/Section/SetSectionFieldOrder",
                        data: post,
                        dataType: "json",
                        traditional: true,
                    }).done(function (msg) {
                        //alert("set");

                    });
                }
            }
        });

        $("#saveoptionprompt").on("click", function (event) {
            this.prepPost = new Array();
            var saveoption = this;
            $("#optionmodal").find(".vinput:checkbox").each(function (i) {
                //alert("test");
                saveoption.prepPost.push(new ValidationData($(this).attr("id"), $(this).prop("checked")));
                //alert($(this).prop("checked"));
            });
            $("#optionmodal").find(".vinput:text").each(function (i) {

                saveoption.prepPost.push(new ValidationData($(this).attr("id"), $(this).val()));
                //alert($(this).val());
            });
            //alert(this.prepPost[1].name + ":" + this.prepPost[1].data);
            var post = [];
            var fieldID = $(".givingOptions").attr("id");
            //post.push($(".givingOptions").attr("id"));
            var validationnames = [];
            var validationdata = [];
            post.validations = new Array();
            for (var i = 0; i < this.prepPost.length; i = i + 1) {
                var name = this.prepPost[i].id;
                var data = this.prepPost[i].data;
                validationnames.push(name);
                validationdata.push(data);
                //post.validations.push(JSON.parse('{"' + name + '":"' + data + '"}'));
                //$.extend(post, { "validations": { name: data } });
            }
            post = JSON.stringify(post);
            console.log(post);

            $.ajax({
                type: "POST",
                url: "/Section/SetFieldValidationOptions",
                data: { fieldID: fieldID, names: validationnames, data: validationdata },
                dataType: "json",
                traditional: true,
            }).done(function (msg) {

                $.ajax({
                    type: "POST",
                    url: "/Section/FieldOptionsSubView",
                    data: { "id": fieldID },
                    dataType: "html",
                    traditional: true,
                    success: function (data) {
                        //alert(data);
                        $(".givingOptions").find("#fieldOptions").html(data);
                        $(".givingOptions").removeClass("givingOptions");
                        $("#optionmodal").modal("hide");
                    },
                    error: function (request, status, error) {
                        alert(error);
                    }
                }).done(function (msg) {
                    //alert(msg);
                    //$(this).find(".optioncontent").html(msg);

                });

            });
            //print(saveoption);
        });

        $("#saveprompt").on("click", function (event) {
            $(".givingPrompt").data("prompt", $("#prompt").val());
            //$(".givingPrompt").html($(".givingPrompt").data("prompt") + "<br />" + $(".givingPrompt").data("type"))
            $(".givingPrompt").find("#promptValue").html($(".givingPrompt").data("prompt"));
            if (!$(".givingPrompt").hasClass("sdelement")) {
                $.ajax({
                    type: "POST",
                    url: "/Section/AddField",
                    data: {
                        "sectionId": '@Model.Section.Id',
                        "type": $(".givingPrompt").data("type"),
                        "prompt": $("#prompt").val()
                    },
                }).done(function (msg) {
                    $(".givingPrompt").removeClass("givingPrompt").attr("id", msg).removeClass("delement").addClass("sdelement").find("#dbutton").html("<a href='/Section/DeleteField/" + msg +"' style='color:white' class='delete-link' >Delete</a>");
                    $(".delete-link").click(function (e) {
                        e.preventDefault();
                        $("#delete-modal-content").load(this.href, function () {
                            $("#delete-modal").modal({
                                backdrop: 'static',
                                keyboard: true
                            }, 'show');
                            return false;

                        });
                    });
                    var sfos = [];
                    $(".sdelement").each(function () {
                        var sfo = $(this).attr("id");
                        sfos.push(sfo);
                    });
                    var post = { FieldIds: sfos };
                    $.ajax({
                        type: "POST",
                        url: "/Section/SetSectionFieldOrder",
                        data: post,
                        dataType: "json",
                        traditional: true,
                    }).done(function (msg) {
                        //alert("set");

                    });
                });
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Section/EditFieldPrompt",
                    data: {
                        "fieldId": $(".givingPrompt").attr("id"),
                        "prompt": $("#prompt").val()
                    },
                }).done(function (msg) {
                    $(".givingPrompt").removeClass("givingPrompt");
                });
            }
            $("#prompt").val("");
            $("#promptmodal").modal("hide");
        });

    });
</script>

<div class="page-header">
    <ol class="breadcrumb">
        <li class="active">Sections</li>
        <li class="active">Edit</li>
    </ol>
    <h2>Edit Section</h2>

</div>
<div class="panel panel-primary" style="float:left;width:80%">
    <div class="panel-heading">@Model.Section.Name</div>
    <div id="sortablebodymain" class="panel-body">
        @foreach (Field f in Model.OrderedFields)
        {
            <div class="sdelement panel panel-primary" id=@f.Id>
                <div class="panel-heading" style="cursor: pointer; display: inline-block; width: 100%; text-align: center;"><div style="width:50px;display:block;float:left">&nbsp;</div><div style="display:inline">@f.FieldType</div><div class="btn btn-danger btn-block"  style="padding: 1px 0px; width: 50px; display: inline-block; float: right">@Html.ActionLink("Delete", "DeleteField", new { id = f.Id }, new { @style = "color:white", @class = "delete-link" })</div></div>
                <div class="panel-body">
                    @if(f.FieldType != Field.TYPE_INFO)
                    { 
                    <center><span class="editOptions"><a href="#">Edit Options</a></span></center>
                    <div id="fieldOptions">
                        @foreach (FieldOption fo in @f.FieldOptions.OrderBy(x => x.OptionType))
                        {
                            <span style="float:left;width:10%">@fo.OptionType</span>
                            <span style="float:right;width:10%">@fo.OptionValue</span>
                            <br />
                        }
                    </div>
                    }
                </div>
                <hr />
                <div class="panel-body">
                    <span style="float:left;width:10%">Prompt:</span><span id="promptValue">@f.PromptValue</span>
                    <span style="float:right;width:10%"><span class="editPrompt"><a href="#">Edit Prompt</a></span></span>
                    <script typeof="text/javascript">
                $('#@f.Id').data("prompt", "@f.PromptValue");
                $('#@f.Id').data("type", "@f.FieldType");
                    </script>
                </div>
            </div>
        }
    </div>
</div>
<style>
    .delement {
        border: 1px solid #428bca /*{borderColorContent}*/;
        background: #ffffff /*{bgColorContent}*/ url(images/ui-bg_flat_75_ffffff_40x100.png) /*{bgImgUrlContent}*/ 50% /*{bgContentXPos}*/ 50% /*{bgContentYPos}*/ repeat-x /*{bgContentRepeat}*/;
        color: #222222 /*{fcContent}*/;
        padding: 5px;
        margin-bottom: -1px;
        cursor: pointer;
    }

        .delement img {
            height: 16px;
            width: 16px;
        }
</style>
<div id="designer" style="float:right;width:18%;text-align:left">
    <div class="delement" id="TEXT_MULTI"><img src="~/Content/images/text.png" /> Multi Line Text<span class="elType" style="display:none">TEXT_MULTI</span></div>
    <div class="delement" id="TEXT_SINGLE"><img src="~/Content/images/text.png" /> Single Text<span class="elType" style="display:none">TEXT_SINGLE</span></div>
    <div class="delement" id="FILE"><img src="~/Content/images/file.png" /> File<span class="elType" style="display:none">FILE</span></div>
    <div class="delement" id="DATE"><img src="~/Content/images/date.png" /> Date<span class="elType" style="display:none">DATE</span></div>
    <div class="delement" id="DROPDOWN"><img src="~/Content/images/dropdown.png" /> Dropdown<span class="elType" style="display:none">DROPDOWN</span></div>
    <div class="delement" id="INFORMATION"><img src="~/Content/images/info.png" /> Information<span class="elType" style="display:none">INFORMATION</span></div>
</div>
<div id="promptmodal" class="modal-dialog" style="display:none;z-index:1050">
    <div class="modal-content" style="position:fixed">
        <div class="modal-body">
            Prompt:@Html.Editor("prompt")
            <div style="text-align:right">
                <button id="saveprompt" type="button" class="btn btn-primary" style="margin-top:5px">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div id="optionmodal" class="modal-dialog" style="display:none;z-index:1050">
    <div class="modal-content" style="position:fixed">
        <div class="modal-body">
            <div id="optioncontent">

            </div>
            <div style="text-align:right">
                <button id="saveoptionprompt" type="button" class="btn btn-primary" style="margin-top:5px">Save changes</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("DeleteConfirmationModal")