@*
    *  School Of Future Applications
    *
    *  Copyright (C) 2014  Terminal Coding
    *
    * This program is free software; you can redistribute it and/or
    * modify it under the terms of the GNU General Public License
    * as published by the Free Software Foundation; either version 2
    * of the License, or (at your option) any later version.
    *
    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    * GNU General Public License for more details.
    *
    * You should have received a copy of the GNU General Public License
    * along with this program; if not, write to the Free Software
    * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@using SOFA.Models

@model SMTPSettings

@{
    ViewBag.Title = "SMTPSettings";
    Layout = "~/Views/_SettingsLayout.cshtml";
}

<h3>SMTP Settings</h3>

<div class="row">
    <div class="col-md-6 col-md-offset-1">
        @Html.ValidationSummary()

        @using (Html.BeginForm("EditSMTPSettings", "Settings", FormMethod.Post
                              ,new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Host, "Host"
                              ,new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.Host)
                    @Html.ValidationMessageFor(model => model.Host)
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.Port, "Port"
                              ,new { @class = "control-label col-sm-3" })
                <div class="col-sm-5">
                    @Html.EditorFor(model => model.Port)
                    @Html.ValidationMessageFor(model => model.Port)
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.TLS, "TLS"
                              ,new { @class = "control-label col-sm-3"})
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.TLS)
                    @Html.ValidationMessageFor(model => model.TLS)
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, "User Name"
                              ,new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(mode => Model.Password, "Password"
                              ,new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(mode => Model.ConfirmPassword, "Confirm Password"
                              ,new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <input type="submit" class="btn btn-default" value="Save SMTP Settings" />
                </div>
            </div>         
        }
    </div>
</div>